<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ron's trivia API</title>
</head>
<body>
    <h3>Welcome to Ron's trivia API 🎉</h3>
    <br>
    <u>Getting Started...</u>
    <br></br>
    <li>1. Run the python file</li>
    <li>2. Select a port to run your local server on (default port is 5000)</li>
    <li>3. Consider using <a href="https://www.postman.com/downloads/">Postman</a> for ease of use</li>
    <br>
    <u>Usage: </u>
    <li><a href="http://localhost:5000/trivia">GET ALL(http://localhost:5000/trivia)</a><li>
</body>
</html>
